/* SETUP */
@import 'setup/vars.css';
@import 'setup/typography.css';

/* BASE */

@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* CMPS */

@import 'cmps/AppHeader.css';
@import 'cmps/ToyFilter.css';
@import 'cmps/ToyList.css';

