* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    color: var(--gray3);
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: .5em 0 .5em;
    font-family: 'Edu VIC WA NT Beginner', cursive;
  }
  
  p {
    margin: 0 0 1em;
  }
  
  a {
    text-decoration: none;
    color: unset;
  }
  
  
  
  /* Dont stretch my Media */
  img,
  embed,
  video,
  object {
    max-width: 100%
  }
  
  /* Simple and useful CSS Debugging Technique */
  .debug * {
    outline: 1px solid gold
  }
  
  a.active {
    text-decoration: underline;
  }

  /* LOADER */
div.loader {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: calc(50vh - 60px);
  left: calc(50vw - 60px);
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: rgba(211, 173, 4, 0.728) transparent rgba(255, 200, 0, 0.839) transparent;
  border-radius: 50%;
  animation: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

div.loader span {
  position: absolute;
  display: block;
  font-size: 2em;
  animation: rubberBand;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes rotate {
  from {
      transform: rotate(360deg);
      scale: 1;
  }

  to {
      transform: rotate(0deg);
      scale: 1.5;
  }
}